name: Deploy ASP.NET Core app to Azure Web App

on:
  push:
    branches:
      - release
  pull_request:
    branches:
      - "*"
env:
  AZURE_WEBAPP_NAME: musicadventure
  AZURE_WEBAPP_PACKAGE_PATH: "."
  DOTNET_VERSION: "5.0.x"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - uses: actions/checkout@main

      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      # Run dotnet build and publish
      - name: dotnet build and publish
        run: |
          dotnet restore
          dotnet build --configuration Release
          dotnet publish MusicAdventureAPI/MusicAdventureAPI.csproj -r linux-x64 -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/ApiDrop'
      #Zip Files
      - name: Zip Action
        uses: papeloto/action-zip@v1
        with:
          files: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/ApiDrop"
          dest: result.zip
      - uses: actions/upload-artifact@v2.2.3
        with:
          name: my-artifact
          path: ${{ github.workspace }}/result.zip

      # Deploy to Azure Web apps
      - name: "Run Azure webapp deploy action using publish profile credentials"
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE  }}
          package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/ApiDrop"
